/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "semantic-ui";

/*--------------
   Page Headers
---------------*/

#example .masthead.segment {
  position: relative;
  z-index: 3;
  margin: 0em;
  min-height: 185px;
  padding: 3em 0em;
  background-color: #FFFFFF;
  border-bottom: 1px solid #DDDDDD;
  box-shadow: none;
}

#example .masthead .introduction {
  display: block;
}
#example .masthead .introduction:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#example .masthead.segment h1 {
  margin: 0em;
}

#example .masthead iframe {
  margin-left: 5px;
  width: 101px !important;
  float: right;
}

/* Align with buttons */
#example .masthead .main.menu {
  margin-top: -2px;
  min-height: 0em;
}
#example .masthead .main.menu > .item {
  padding-top: 0.785714em;
  padding-bottom: 0.785714em;
}
